*.csv
*.csv.zip
archive.zip
*.parquet
data/*.csv
data/cache/

.cache/
*.cache
*.log

models/*.bin
models/*.cbm
!models/recommender.pkl
mlruns/
mlflow.db

.venv/
venv/
.env

__pycache__/
*.py[cod]
.ipynb_checkpoints/

.idea/
.vscode/
